.servicios {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 99%;
    height: 550px;
    margin-bottom: 130px;
}


.borde {
    border-radius: 2%;
    height: 50%;
    max-width: 100%;
}

.sal {
    width: 75%;
    text-align: center;
    margin: auto;
}

.card {
    height: 650px;
    background-color: rgb(250, 244, 244);
    margin-bottom: 10px;
    padding: 5px 15px;
    text-align: center;
    border-radius: 0 0 3% 3%;
    border-style: none;
    box-shadow: 10px 3px 3px black;
}

@media (max-width: 768px) {
    .servicios {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 480px;
        margin: auto;
        height: 100%;
    }

    .card {
        border-radius: 2%;

    }
}