body {
  position: relative;
  background-color: white;
  color: #908b8b;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

h2 {
  color: #2e64a1;
}

.text2 {
  font-size: 20px;
}

.text1 {
  color: #707da8;
}